@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body { margin: 0; padding: 0; font-size: 0.8rem; font-family: 'Poppins', sans-serif; color: #585858;}

h1 { display:flex; justify-content: center; font-size: 1rem; background-color: #1171b1; margin-top: 0px; padding: 0.5rem 0.5rem ; color: whitesmoke;}

h3 {border-left: 7px solid #1171b1; border-right: 5px solid #1171b1; padding: 3px; color: #00263f; background-color: #ececec; border-radius: 5px; width: 20rem;}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 92vh;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 100%;
}


.resultados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45vw;
    height: 100%;
    font-size: 0.9rem;
    visibility: hidden;
}


#imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47vw;
    padding-left: 2rem;
    /* height: 100vh; */
}

/* Animação - Keyframes */
@keyframes socialmedia {
    0%       {margin-top: -30px;}
    50%       {margin-top: 0px;}
    100%     {margin-top: -30px;}
}

#imgmobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    z-index: -10;
    
    
    /* Animação - Configuração */
    animation-name: socialmedia;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
    animation-timing-function: ease;

    
}

input {
    width: 20rem;
    height: 2.3rem;
    margin-bottom: 0.5em;
    margin-top: 0.5rem;
    border-radius: 3px;
    border: 1px solid #b8b8b8;
    font-family: 'Poppins', sans-serif;
}

input:hover {
    outline: 1.5px solid #1171b1;
    background-color: #ddedfa;
    height: 2.3rem;
    margin-bottom: 0.5em;
    margin-top: 0.5rem;
}

#calcular {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.9rem;
    width: 20.8rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    background-color: #1171b1;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    color: white;
}

#calcular:hover{
    background-color: #3290cf;
    border: 1px solid #1171b1;
    color: white;
}


#btnovo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    background-color: #dfc013;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    color: #2e2e2e;
}

#btnovo:hover{
    background-color: #e4cc43;
    border: 1px solid #bba005;
    color: #2e2e2e;
}



/* RESPONSIVIDADE */

@media  screen and (max-width: 800px) {

    .form {
        width: 100vw;
        height: 50vh;
        padding-bottom: 1rem;
    }

    .resultados {
        width: 100vw;
        height: 100vh;
    }
    #imagem {   
        margin-top: 50px;
    }

    #imgmobile {
        width: 87vw;
    }

}


@media screen and (max-width: 700px) {
    
   

}